# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Visual Studio / Rider / IDE
.vs/
.vscode/
.idea/

# Build files
*.VC.db
*.VC.opendb
*.sln
*.suo
*.opensdf
*.sdf

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
~$*
