# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider / IDE
.vs/
.vscode/
.idea/

# Build files
*.VC.db
*.VC.opendb
*.sln
*.suo
*.opensdf
*.sdf

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: ignore packaged builds
Build/